*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0%;
    

}

header{
    background-color: gray;
    padding: 40px;
    text-align: center;


}

nav{

    
    position: relative;


}

nav ul li{
    display: inline-block;
    padding-right: 44px;
}
nav ul li img:first-child
{
    position:absolute ;
    top: -30px;
    left: 110px;
}

nav ul li a{
    text-decoration: none;

}


#first-image{
    padding-left: 153px;
    padding-top: 46px;


}

.container{
    display: block;
    margin: auto;
    width: 999px;
    margin-top: 15px;
    margin-bottom: 15px;
   



}


.image-container {
    display: inline-block;
    margin: 15px;
    
    



}


.new-container{
    margin-top: 35px;
    margin-bottom: 43px;

    
    
    
    
    
}

.new-image{
    float:left;
    padding-left: 143px;
    padding-right: 20px;
    margin-bottom: 43px;

    

}

.text-new p {
    font-size: 20px;
    font-weight: bold;
    
    background-color: lightblue;
    overflow: scroll;
    width: 38%;
    height: 352px;
    
    
    
      
    
}


.text-new h2{
    float: right;
    margin-right: 500px;
    height: 32px;
    background-color: gray;
    width: 10%;


}




.text-new h2:hover{
    background-color: green;

}

footer{
    height: 94px;
    padding-top: 14px;
    background-color: gray;
}






 
















